body{
    background-color: aquamarine;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.section {
    flex: 1;
    box-sizing: border-box;
    
}

.left {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

header{
    background-color: blue;
}

footer, .push {
    background-color: blueviolet;
    height: 100px;
}

h1 {
    text-align: center;
}

button {
    background-color: gray;
    text-align: center;
    border-radius: 10px; 
    padding: 20px;
    width: 300px;
    
}